.addWorkSchedules {
  position: relative;
  padding-bottom: 8px;

  .header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;

    h2 {
      margin: 0;
      padding: 0;
      font-size: calc(var(--font-small) + 2px);
    }
  }

  .row {
    margin-top: 10px;
    padding: 0px 8px 8px 8px;
    display: flex;
    gap: 12px;
    align-items: center;

    > div {
      flex: 1;
    }
  }

  label {
    display: block;
    font-size: var(--font-small);
    margin-bottom: 2px;
    color: #666;
  }

  .label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    .sticker {
      margin-bottom: 10px;
      color: var(--third-color);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-small);
    }
  }

  input,
  select {
    font-weight: 500;
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: var(--font-small);
    box-sizing: border-box;
  }

  .weeklyHours {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 8px;
    border-radius: 6px;
    font-weight: 500;
    font-size: var(--font-small);

    .label {
      color: #555;
    }

    .value {
      font-weight: 700;
      color: #1a73e8;
    }

    .separator {
      margin: 0 4px;
      color: #555;
    }

    .max {
      color: #333;
    }

    .warning {
      margin-left: 30px;
      color: red;
      font-weight: 700;
    }
  }
}
