.cardGrid {
  max-width: 1800px;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 0.5rem;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.monthlyLateCount {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 6px;
  right: 6px;
  background: #e53935;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  z-index: 1;
}

.info {
  padding: 4px;

  h4 {
    position: relative;
    font-size: 14px;
    padding: 0;
    margin: 0;

    span {
      position: relative;
      top: -2px; // чуть выше
      font-size: 12px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 13px;
  }

  .truncateTwoLines {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
