.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(env(safe-area-inset-top) + 12px);

  .title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }
}
